:focus {
  outline: 1px dotted !important;
}

body {
  --max-width: 700px;
  --header-height: 65px;
  --footer-height: var(--header-height);
  --background-color: #f4f4f4;
  --foreground-color: #333;
  --card-background-color: #fff;
  --card-foreground-secondary-color: #6c757d;
  --border-color: rgba(0, 0, 0, 0.1);
  --svg-color: #333;

  &[data-theme="dark"] {
    --background-color: #121212;
    --foreground-color: rgba(255, 255, 255, 0.87);
    --border-color: rgba(255, 255, 255, 0.06);
    --card-background-color: #1e1e1e;
    --card-foreground-secondary-color: rgba(255, 255, 255, 0.6);
    --svg-color: #fff;
  }

  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: Poppins, sans-serif;
}

.app {
  max-width: var(--max-width);
}

.main {
  --vertical-margin: 30px;

  margin-top: var(--vertical-margin);
  margin-bottom: var(--vertical-margin);
  min-height: 770px;
}
