body[data-theme="dark"] {
  --box-shadow-color: rgba(0, 0, 0, 0.24);
}

.filterNav {
  --box-shadow-color: rgba(0, 0, 0, 0.08);

  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  max-width: 350px;
  z-index: 1;
  overflow-y: auto;

  display: grid;
  grid-template-rows: auto 1fr auto;

  background-color: var(--background-color);
  color: var(--foreground-color);
  border-right: 1px solid var(--border-color);
  box-shadow: 0 8px 24px 0 var(--box-shadow-color);

  transform: translateX(-100%);
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: "transform";

  &--show {
    transform: translateX(0);

    + .filterNav__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &__body,
  &__footer {
    padding: 10px 20px;
  }

  &__header {
    padding: 0 20px;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__buttonGroup {
    --spacing: 15px;

    padding-right: var(--spacing);
    margin-right: var(--spacing);
    border-right: 1px solid var(--border-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a9abb3;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar {
    width: 16px;
  }

  &__overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s, opacity 0.3s;
  }
}
