.jobItem {
  background-color: var(--card-background-color);

  &__header {
    display: flex;
    flex-direction: column-reverse;

    .jobItem__createdAt {
      margin-bottom: 5px;
    }

    @media screen and (min-width: 700px) {
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-column-gap: 10px;
    }
  }

  &__footer {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 1.5rem;
    background-color: transparent;
  }

  &__title a {
    color: inherit;
  }

  &__postedBy,
  &__salary {
    color: var(--card-foreground-secondary-color);
  }
}
