body[data-theme="dark"] {
  .button {
    --hover-background-color: rgba(255, 255, 255, 0.2);

    color: #fff;
  }
}

.button {
  --hover-background-color: rgba(0, 0, 0, 0.1);
  --height: 40px;

  border-radius: var(--height);
  height: var(--height);
  min-width: var(--height);
  padding: 0 16px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  path {
    stroke: inherit;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--secondary {
    &:hover {
      background-color: var(--hover-background-color);
    }
  }
}
