body[data-theme="dark"] {
  .pagination__link {
    --hover-background-color: rgba(255, 255, 255, 0.2);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
